.table-data {
    margin-top: 10px;
}

.nav-item.active a{
    color: #ffc700 !important;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}